# Python

**pycache**/
*.py[cod]
.venv/
venv/
env/

# Jupyter

.ipynb_checkpoints/

# Data

data/raw/*
!data/raw/.gitkeep

# Local/generated data

data/processed/*
!data/processed/.gitkeep

# Environment / secrets

.env
*.env

# OS

.DS_Store
Thumbs.db

# IDE

.vscode/
.idea/

# Python tooling

.pytest_cache/
.coverage

# Power BI temporary files

*.pbit